streamlit==1.42.0
spacy==3.8.4
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
nltk==3.9.1
sentence-transformers==3.4.1
transformers==4.48.3
torch==2.4.1
scikit-learn==1.6.1
scipy==1.15.1
